// Media
@mixin desktop {
  @media (min-width: 768px) { @content; }
}

// Commom
@mixin default-button {
  width: 100%;
  max-width: 280px;
  height: 40px;
  border: none;
  font-size: 20px;
  border-radius: 8px;
  background-color: $primary-color;
  color: $light-color;
  transition: all 0.5s;

  &:hover,
  &:active {
    cursor: pointer;
    background-color: $secondary-color;
    box-shadow: 0px 0px 20px 0px rgba($primary-color, 0.75);
  }
}

@mixin default-title {
  color: $title-color;
  font-family: $title-font;
  font-size: 24px;
}

@mixin actions {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;

  & > .back {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    padding: 12px;

    @include desktop {
      width: 64px;
      height: 64px;
      padding: 18px;
    }

    &:hover {
      background: $primary-color;
      cursor: pointer;

      & > svg {
        fill: $light-color;
      }
    }
  }

  & > .next {
    @include default-button;
    width: auto;
    min-width: 160px;

    @include desktop {
      height: 64px;
    }
  }
}