$primary-color: #ff4059;
$secondary-color: #c61846;
$terciary-color: #9d2f4c;

$light-color: #ffffff;

$selected-color: #00a58d; 

$input-color: #45336B;
$border-color: #d7d7f2;

$green-hard: #039f8a;

$light-background: #F6F7FC;

// TEXT COLOR
$title-color: #4d4e6f;
$text-color: #6b7680;

// FONTS
$title-font: 'Fira Sans', Helvetica, Arial, sans-serif;
$text-font: 'Roboto', Helvetica, Arial, sans-serif;
